APP_ENV=dev
APP_SECRET=changeme
APP_DEFAULT_LOCALE=de

DATABASE_URL="mysql://db-username:db-password@127.0.0.1:3306/db-name?serverVersion=mariadb-version&charset=utf8mb4"

MAILER_DSN=smtp://username:password@smtp-address:587

DEFAULT_URI=https://localhost:8000

MAIL_FROM=time-tracking@example.com
DEV_MAIL_RECIPIENT=localdev@example.com
